@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
@mixin wh ($width,$height){
  width: $width;
  height: $height;
}
@mixin border-1px($color){
  position: relative;
  &::after{
    display:block;
    position:absolute;
    z-index: 1;
    left:0;
    bottom:0;
    width:100%;
    border-top:1px solid $color;
    content:' ';
  }
}
@mixin changeBg-Color($color,$num){
  opacity: $num;
  background-color:$color;
}
@mixin flex-box(){
  display: flex;
}
@mixin flex-item(){
   flex: 1;
}
