
//基础颜色定义规范
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$color-white:#fff;
$success-color:#5FB878;
$warning-color:#FFB800;
$error-color: #ef4f4f;
$blue:#1E9FFF;
$bg-grey:#f8f8f8;
$black: #282828;
$bg-grey2:lighten($black,10%);

$text:#c2c2c2;
$text2:#898a8c;
$line:#F0F0F0;
$red:#FF5722;
$icon:#aeafb0;

$header-height:40px;
$z-index-normal:99;
//字体定义规范
$font-size-small-s:10px;
$font-size-small:12px;
$font-size-medium:14px;
$font-size-medium-x:16px;
$font-size-large:18px;
$font-size-large-x:22px;
